#contactSection {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#contactInfo {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/6;
  justify-content: center;
  /* height: 100%; */
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

#contactBox {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  height: 30%;
  margin-top: 30%;
  width: 85%;
}

#contactTitle {
  font-size: 1.5rem;
  /* border-bottom: 1px solid lightgray; */
  padding-bottom: 2.5%;
  text-align: right;
  margin-right: 4%;
}

#socialMediaLinks {
  font-size: 1.3rem;
  margin-top: auto;
  height: 55%;
  /* border: 1px solid black; */
}

#ig {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}

#ig:hover {
  cursor: pointer;
}

#ig img {
  height: 62px;
  width: 62px;
  margin-left: 10%;
}

#linkedIn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}

#linkedIn:hover {
  cursor: pointer;
}

#linkedIn img {
  height: 40px;
  width: 40px;
  margin-right: 4%;
}

