#projectContainer {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: white;
  min-width: 950px;
}

#leftClickDiv {
  z-index: 1;
  position: absolute;
  left: 0%;
  height: 100%;
  width: 50%;
}

#leftClickDiv:hover {
  cursor: w-resize
}

#rightClickDiv {
  z-index: 1;
  position: absolute;
  right: 0%;
  height: 100%;
  width: 50%;
}

#rightClickDiv:hover {
  cursor: e-resize
}

#slideShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  grid-column: 8/21;
  grid-row: 1/7;
}

.fa {
  opacity: .3;
  transition: all ease-in-out .25s;
}

.fa:hover {
  cursor: pointer;
  transform: scale(1.5);
}




