#projectContainer {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: white;
  min-width: 950px;
}

#slideShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  grid-column: 10/21;
  grid-row: 1/7;
}

.fa {
  opacity: .3;
  transition: all ease-in-out .25s;
}

.fa:hover {
  cursor: pointer;
  transform: scale(1.5);
}




