#projects {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: white;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  #projects {
    margin-top: 20%;
  }
}


#leftClickDiv {
  z-index: 1;
  position: absolute;
  left: 0%;
  height: 100%;
  width: 30%;
}

#leftClickDiv:hover {
  cursor: w-resize
}

#rightClickDiv {
  z-index: 1;
  position: absolute;
  right: 0%;
  height: 100%;
  width: 30%;
}

#rightClickDiv:hover {
  cursor: e-resize
}

#slideShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  grid-column: 3/6;
  grid-row: 1/6;
  -webkit-animation: fadein ease-in .75s ; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn ease 1s; /* Firefox < 16 */
        -ms-animation: fadeIn ease 1s; /* Internet Explorer */
         -o-animation: fadeIn ease 1s; /* Opera < 12.1 */
            animation: fadein ease-in .75s ;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  #slideShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    grid-column: 1/6;
    grid-row: 1/4;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.item:hover #description {
  z-index: 4;
  display: block;
}


.fa {
  opacity: .3;
  transition: all ease-in-out .25s;
}



