.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  transition: all .25s ease-in-out;
  /* border: 1px solid black; */
}

.box:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.itemSecondColumn {
  grid-column: 3/5;
  grid-row: 1/7;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  overflow-y: auto;
}

.projectTitle {
  z-index: 1;
  position: fixed;
  /* font-family: 'Comfortaa'; */
  /* font-family: 'Calibri'; */
  font-size: 1.35vw;
  color: gray;
  display: none;
}

.box:hover .projectTitle {
  display: block;
}

.box:hover .thumbnail {
  opacity: .3;
}

.box .thumbnail {
  height: 90%;
  width: 88%;
  border: 1px solid lightgray;
  background-position: center;
  background-size: cover;
}

.box #queensboro {
  background-image: url('../images/Queensboro/thumbnail/Queensboro_thumbnail-min.jpg');
}

.box #harlem {
  background-image: url('../images/Harlem/thumbnail/Harlem_thumbnail-min.jpg');
}

.box #_3M {
  background-image: url('../images/3MBoothatNeoCon2012/thumbnail/3M_thumbnail-min.jpg');
}

.box #bathbw {
  background-image: url('../images/Bath_BodyWorks/thumbnail/BBWWallflower_thumbnail-min.jpg');
}

.box #fortgreene {
  background-image: url('../images/FortGreene/thumbnail/FtGreene_thumbnail-min.jpg');
}

.box #marriot {
  background-image: url('../images/MariottLibrary_UniversityofUtah/thumbnail/SOUTH_NORTH_thumbnail-min.jpg');
}

.box #sevenseven {
  background-image: url('../images/SevenSeven/thumbnail/Thumbnail-min.jpg');
}

.box #xsre {
  background-image: url('../images/XSRE/thumbnail/XSRE_thumbnail-min.jpg');
}

.box #franklin {
  background-image: url('../images/FranklinSt/thumbnail/FranklinSt_thumbnail-min.jpg');
}

