.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.item img {
  height: 100%;
  max-width: 90%;
  justify-self: center;
  align-self: center;
}

.item #description {
  z-index: 2;
  max-width: 75%;
  font-size: .9rem;
  color: white;
  position: absolute;
  border: 1px solid black;
  background-color: black;
  padding: 2%;
  opacity: .7;
  border-radius: 10px;
  align-self: flex-end;
  display: none;
  /* bottom: 100px; */
  -webkit-animation: fadeIn ease 5s ; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn ease .5s; /* Firefox < 16 */
   -ms-animation: fadeIn ease .5s; /* Internet Explorer */
    -o-animation: fadeIn ease .5s; /* Opera < 12.1 */
       animation: fadeIn ease .5s ;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: .7; }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid lightblue; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}