.projectContainer {
  display: flex;
  flex-direction: row;
  height: 30%;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .projectContainer {
    height: 100%;
    width: 100%;
  }
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
  overflow: auto;
  border-left: 1px solid lightgray;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .thumbnailContainer {
    min-width: 30vh;
    /* min-height: 20vh; */
    border: none;
    padding-right: 10%;
  }
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  height: 90%;
  background-position: center;
  background-size: cover;
  border: 1px solid lightgray;
  transition: all ease-in-out .25s;
  -webkit-animation: fadein ease-in .75s ; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn ease .75s; /* Firefox < 16 */
        -ms-animation: fadeIn ease .75s; /* Internet Explorer */
         -o-animation: fadeIn ease .75s; /* Opera < 12.1 */
            animation: fadein ease-in .75s ;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .thumbnail {
    /* flex-direction: row; */
    height: 75%; 
    width: 100%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.projectInfo {
  display: flex;
  align-items: center;
  width: 43%;
  display: none;
}

.titleAndDesc {
  display: flex;
  width: 90%;
  height: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  width: 100%;
  font-size: 1rem;
  text-align: left;
}

.description {
  font-size: .75rem;
  text-align: justify;
  margin-top: 2.5%;
  color: gray;
}

.projectTitle {
  text-align: center;
  /* font-family: 'Calibri'; */
  font-size: 1.2rem;
  color: gray;
  position: absolute;
  display: none;
  transition: all ease-in-out .25s;
}

.thumbnailContainer:hover .projectTitle {
  display: block;
  cursor: pointer;
}

.thumbnailContainer:hover .thumbnail {
  opacity: .2;
  cursor: pointer;
}



