#articleContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
}

#articleContainer img {
  height: 100%;
}

#article {
  grid-column: 3/6;
  margin: 5% 11% 5% 11%;
}

@media (max-width: 768px) {
  #article {
    grid-column: 1/6;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  #articleContainer img {
    max-width: 80vw;
  }
}

@media (max-width: 768px) {
  #articleContainer {
    max-height: 100%;
  }
}

figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2.5%;
}

@media (max-width: 768px) {
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5%;
  }
}

figure figcaption {
  margin-top: 1%;
}

#prevAndNext {
  display: flex;
  justify-content: space-between;
  margin: 10%;
}

#prevAndNext .fa {
  opacity: .4;
}

#prevArticle {
  text-decoration: none;
  color: black;
}

#nextArticle {
  text-decoration: none;
  color: black;
}

#prevArticleMobile {
  display: none;
}

#nextArticleMobile {
  display: none;
}

@media (max-width: 768px) {
  #prevArticleMobile {
    display: flex;
  }
  #nextArticleMobile {
    display: flex;
  }
}

@media (max-width: 768px) {
  #prevAndNext {
    display: none;
  }
}