.dot {
  height: 8px;
  width: 8px;
  background-color: gray;
  border-radius: 10px;
  opacity: .5
}

/* .dot:hover {
  cursor: pointer;
} */

.dotClicked {
  cursor: pointer;
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background-color: black;
}

/* .dotClicked:hover {
  cursor: pointer;
} */