.post {
  color: black;
  text-decoration: none;
}

.post:hover {
  cursor: pointer;
}

.post .postImage {
  height: 27vh;
  background-position: center;
  border: 1px solid lightgray;
  background-size: cover;
  -webkit-animation: fadein ease-in .75s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeIn ease 1s; /* Firefox < 16 */
      -ms-animation: fadeIn ease 1s; /* Internet Explorer */
       -o-animation: fadeIn ease 1s; /* Opera < 12.1 */
          animation: fadein ease-in .75s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.post .postTitle {
  font-size: 1rem;
  text-align: left;
  align-content: center;
  margin-top: 5%;
  /* border: 1px solid black; */
}

.post .postParagraph {
  margin-top: 2.5%;
  /* border: 1px solid black; */
  font-size: .9rem;
  text-align: left;
  line-height: 1rem;
}

.post .readMore {
  text-align: right;
  margin-top: 2.5%;
  font-size: .8rem;
  /* border: 1px solid black; */
}