.instagramPhoto {
  margin-top: 3%;
  margin-bottom: 7.5%;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  display: flex;
  /* height: 100%; */
  height: 27vh;
  width: 88%; 
  -webkit-animation: fadein ease-in .75s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeIn ease 1s; /* Firefox < 16 */
      -ms-animation: fadeIn ease 1s; /* Internet Explorer */
       -o-animation: fadeIn ease 1s; /* Opera < 12.1 */
          animation: fadein ease-in .75s;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .instagramPhoto {
    display: block;
    min-height: 100%;
    min-width: 100%;
    margin: 0% 5% 0% 0%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.instagramPhoto:hover {
  cursor: pointer;
}