html, body, #root {
  height: 100%;
  font-family: 'Comfortaa';
  /* font-family: 'Calibri'; */
}

@media (max-width: 768px) {
  /* For mobile phones: */
  html, body, #root {
    min-height: 100%;
  }
}

body {
  margin: 0;
}