#articleTitleContainer {
  display: flex;
  align-items: flex-start;
  padding: 10%;
  grid-column: 2/3;
  font-size: 1.2vw;
  height: 100%;
  flex-direction: column;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

@media (max-width: 768px) {
  #articleTitleContainer {
    display: flex;
    grid-column: 1/6;
    /* align-items: center; */
    /* text-align: justify; */
    border: none;
    padding: 0px;
    margin: 10% 10% 0% 10%;
  }
}

#articleTitle {
  border-bottom: 1px solid black;
  padding-bottom: 10%;
  margin-bottom: 0px;
  max-width: 90%;
}

@media (max-width: 768px) {
  #articleTitle {
    display: flex;
    padding-bottom: 0%;
    max-width: 100%;
    border: none;
    font-size: 1.75rem;
  }
}

#articleAuthorAndDate {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  font-size: 1rem;
  line-height: 25px;
}

@media (max-width: 768px) {
  #articleAuthorAndDate {
    margin-top: 2.5%;
  }
}

#categoryNavContainer {
  font-size: 1rem;
  margin-top: 25%;
}

#navContainerTitle {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  padding-bottom: 5%;
  /* color: gray; */
}

ul {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  padding-left: 10%;
  color: gray;
}

.categoryLinks {
  text-decoration: none;
  color: gray
}

li:hover {
  cursor: pointer;
}