#articleTitleContainer {
  display: flex;
  align-items: flex-start;
  padding: 10%;
  grid-column: 2/3;
  font-size: 1.2vw;
  flex-direction: column;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

#articleTitle {
  border-bottom: 1px solid black;
  padding-bottom: 10%;
  margin-bottom: 0px;
  max-width: 90%;
}

#articleAuthorAndDate {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  font-size: 1rem;
  line-height: 25px;
}

#categoryNavContainer {
  font-size: 1rem;
  margin-top: 25%;
}

#navContainerTitle {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  padding-bottom: 5%;
  /* color: gray; */
}

ul {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  padding-left: 10%;
  color: gray;
}

.categoryLinks {
  text-decoration: none;
  color: gray
}

li:hover {
  cursor: pointer;
}