#photoGalleryContainer {
  display: grid;
  height: 100%;
  /* border: 1px solid black; */
  /* border-top: 1px solid lightgray; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* min-width: 950px; */
}

#photoGalleryContainer .columnOne {
  grid-column: 2/3;
  grid-row: 1/7;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  /* overflow-y: auto; */
  scrollbar-width: none;
}

#photoGalleryContainer .columnTwo {
  grid-column: 3/4;
  grid-row: 1/7;
  border-right: 1px solid lightgray;
  /* overflow-y: auto; */
  scrollbar-width: none;
}

#photoGalleryContainer .columnThree {
  grid-column: 4/5;
  grid-row: 1/7;
  border-right: 1px solid lightgray;
  /* overflow-y: auto; */
  scrollbar-width: none;
  
}

#photoGalleryContainer .twoTenColumn #postContainer::-webkit-scrollbar { width: 0 !important }

#photoGalleryContainer .columnOne #postContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  padding-top: 10%;
  height: 100%;
  width: 100%;
}

#photoGalleryContainer .columnTwo #postContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  padding-top: 15%;
  height: 100%;
  width: 100%;
}

#photoGalleryContainer .columnThree #postContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  padding-top: 10%;
  height: 100%;
  width: 100%;
}

#photoGalleryContainer .columnOne::-webkit-scrollbar { width: 0 !important }
#photoGalleryContainer .columnTwo::-webkit-scrollbar { width: 0 !important }
#photoGalleryContainer .columnThree::-webkit-scrollbar { width: 0 !important }


/* .igPost {
  margin-top: 5%;
  height: 40%; 
  width: 88%; 
  border: 1px solid lightgray;
} */

/* .igPost img {
  width: 100%;
  height: 100%;
} */

/* #photoJournalContainer .igPost {
  margin-top: 5%;
  background-image: url('./imagesPhotoJournal/j9ig1.png');
  background-position: center;
  background-size: cover;
  height: 30%; 
  width: 88%; 
} */

/* #photoJournalContainer .igContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  height: 100%; 
  width: 57%; 
} */



